ASPNETCORE_ENVIRONMENT=Production
Jwt__Key=troque-por-uma-chave-forte-com-pelo-menos-32-caracteres
Jwt__Issuer=AlmoxarifadoAPI
Jwt__Audience=AlmoxarifadoUsuarios
Jwt__DurationInMinutes=60
Firebase__ProjectId=almoxarifadosenaicxs
Cors__AllowedOrigins__0=https://seu-front.vercel.app
FIREBASE_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}
